.auth__save-button {
    font-size: 18px;
    line-height: 1.21;
    width: 100%;
    height: 50px;
    margin: 216px 0 0;
    transition: all 0.4s;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
}

.auth__save-button:hover {
    cursor: pointer;
    opacity: 0.85;
}

.auth__save-button:active {
    transform: scale(0.9);
}
