.auth__input {
    font-weight: 500;
    line-height: 1.21;
    width: 100%;
    margin: 0;
    padding: 0 0 10px;
    color: #cccccc;
    border: 0;
    border-bottom: 2px solid #cccccc;
    background-color: transparent;
}

.auth__input:focus-visible {
    outline: none;
}
